<div>
    <label mat-dialog-title>Nova Consulta</label>

    <form [formGroup]="formGroupCreateConsulta">

        <select formControlName="especialidade">
            <option [ngValue]="null" disabled>Especialidade</option>

            <option *ngFor="let especialidade of especialidades" [ngValue]="especialidade.id">
                {{especialidade.nome}}
            </option>

        </select>

        <select formControlName="medico" (click)="getMedicos()">

            <option [ngValue]="null" disabled>Médicos</option>

            <option *ngFor="let medico of medicos" [ngValue]="medico.id">
                {{medico.nome}}
            </option>
        </select>

        <div class="error" *ngIf="showErrorMedico">
            Selecione primeiro a especialidade
        </div>

        <select formControlName="agenda" (click)="getAgendas()">
            <option [ngValue]="null" disabled>Data</option>

            <option *ngFor="let agenda of agendas" [ngValue]="agenda.dia">
              {{agenda.dia | date}}
          </option>

        </select>

        <div class="error" *ngIf="showErrorDia">
            Selecione primeiro o medico
        </div>

        <select formControlName="hora" (click)="getHora()">
            <option [ngValue]="null" disabled>Hora</option>

            <option *ngFor="let hora of horarios" [ngValue]="hora">
                {{hora}}
            </option>
        </select>

        <div class="error" *ngIf="showErrorHora">
            Selecione primeiro a data
        </div>

        <div mat-dialog-actions > 

            <button class="button-cancel" type="button" (click)="cancel()">Cancelar</button>

            <button class="button-submit" type="submit" [disabled]="!formGroupCreateConsulta.valid" (click)="marcarConsulta()">Confirmar</button>
        </div>
        
    </form>
</div>