select {
    height: 40px;
    width: 400px;
    left: 40px;
    top: 101px;
    border-radius: 4px;
    background: #FFFFFF;
    border: 1px solid #A8A8A8;
    display: block;
    margin-top: 20px;
  }
  
select:required:invalid {
  color: #A8A8A8;
}
option[value=""][disabled] {
  display: none;
}
option {
  color: black;
}

/* buttons */
.button-cancel, .button-submit  {
  cursor: pointer;
  width: 180px;
  height: 40px;
  margin: 10px 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  border: none;
  border-radius: 8px;
}

.button-cancel {
  background-color: #ffff;
  color: #49B4BB;
}

.button-cancel:hover {
  background-color: #D9F1F3;
}

.button-submit {
  background-color: #49B4BB;
  color: #ffff;
}

button:hover {
  background-color: #90D3D7;
  color: #ffff;
}

button:disabled {
  background-color: #D9F1F3;
}

.error {
  padding-top: 20px;
  margin-bottom: -20px;
  color: #49B4BB;
}