<div>
    <label mat-dialog-title>Nova Consulta</label>

    <form [formGroup]="formGroupCreateConsulta" (ngSubmit)="marcarConsulta()">

        <select formControlName="especialidade" (click)="getEspecialidades()">
            <option [ngValue]="null" disabled>Especialidade</option>

            <option *ngFor="let especialidade of especialidades" [ngValue]="especialidade.id">
                {{especialidade.nome}}
            </option>

        </select>

        <select formControlName="medico" (click)="getMedicos()">

            <option [ngValue]="null" disabled>Médicos</option>

            <option *ngFor="let medico of medicos" [ngValue]="medico.id">
                {{medico.nome}}
            </option>
        </select>

        <select formControlName="agenda" (click)="getAgendas()">
            <option [ngValue]="null" disabled>Data</option>

            <option *ngFor="let agenda of agendas" [ngValue]="agenda.dia">
              {{agenda.dia}}
          </option>

        </select>

        <select formControlName="hora" (click)="getHora()">
            <option [ngValue]="null" disabled>Hora</option>

            <option *ngFor="let hora of horarios" [ngValue]="hora">
                {{hora}}
            </option>
        </select>

        <div mat-dialog-actions > 

            <button class="button-cancelar" type="button" (click)="cancelar()">Cancelar</button>

            <button class="button-submit" type="submit" [disabled]="!formGroupCreateConsulta.valid">Comfirmar</button>
        </div>
        
    </form>
</div>