:host {
    display: flex;
    justify-content: center;
    padding-top: 179px;
  }
  
  mat-card-content {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 400px;
  }

  ::ng-deep  .mat-form-field-appearance-outline, .mat-form-field-wrapper {
    height: 40px;
    font-size: 10px;
    margin-bottom: 20px;
  }
  
  
  .mat-card:not([class*=mat-elevation-z]) {
    box-shadow: none;
  }
  
  .logo-img {
    display: flex;
    justify-content: left;
    width: 180.74px;
    height: 50px;
    padding-left: 15px;
    margin-bottom: 20px;
  }

  .mat-card-title {
    width: 117px;
    height: 21px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #444444;
    margin-bottom: 20px;
  }
  
  .mat-form-field {
    width: 100%;
    max-width: 400px;
    max-height: 70px;
  }

  
  /* button input password */
  .button-icon {
    border:none;
    background-color: #ffff;
    top: -5px;
    height: 5px;
  }

  .button-icon:hover {
    background-color: #ffff;
  }
  
  /* buttons */
  
  mat-card-actions, .buttons {
    display: flex;
    justify-content: center;
  }
  
  .button-cancel, .button-submit  {
    cursor: pointer;
    width: 180px;
    height: 40px;
    margin: 10px 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    border: none;
    border-radius: 8px;
  }
  
  .button-cancel {
    background-color: #ffff;
    color: #49B4BB;
  }
  
  .button-cancel:hover {
    background-color: #D9F1F3;
    
  }
  
  .button-submit {
    background-color: #49B4BB;
    color: #ffff;
  }
  
  button:hover {
    background-color: #90D3D7;
    color: #ffff;
  }

  button:disabled {
    background-color: #D9F1F3;
  }
