<mat-card>

  <img mat-card-image class="logo-img" src="/assets/Logo.png" alt="logo-medicar">

<mat-card-content>

<form [formGroup]="formLogin">

  <mat-form-field class="form-login" appearance="outline" color="primary">

    <mat-label>Email ou Login</mat-label>
    <input formControlName="username" type="text" matInput name="username">
    
  </mat-form-field>

    <mat-form-field class="form-password" appearance="outline" color="primary">

      <mat-label>Senha</mat-label>
      <input formControlName="password" matInput [type]="hide ? 'password' : 'text'" autocomplete="checked ? 'off' : 'on'" name="password">

      <button type="button" class="button-icon" mat-icon-button matSuffix (click)="hide = !hide">
        <img  src="/assets/fa-solid_eye.png" alt="icone-ocultar-senha">
      </button>

    </mat-form-field>
    
  </form>

  </mat-card-content>

  <mat-card-actions class="remember-password">

    <mat-checkbox color="primary"> Lembra minha senha </mat-checkbox>

  </mat-card-actions>

<mat-card-actions class="buttons">

    <button class="button-create-account" type="button" (click)="toCreateUser()"> Criar Conta </button>

    <button class="button-submit"  type="submit" (click)="submitLogin()" [disabled]="!formLogin.valid"> Acessar </button>

</mat-card-actions>

</mat-card>