:host {
  display: flex;
  justify-content: center;
  padding-top: 235px;
}

mat-card-content {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  max-height: 297px;
}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: none;
}

.logo-img {
  display: flex;
  justify-content: left;
  width: 180.74px;
  height: 50px;
  margin-left: 0px;
  margin-bottom: 40px;
}


.mat-form-field {
  width: 100%;
  max-width: 400px;
}

.form-login {
  margin-bottom: 20px;
}

.form-password {
  margin-bottom: 20px;
}

::ng-deep  .mat-form-field-appearance-outline, .mat-form-field-wrapper {
	height: 40px;
	font-size: 10px;
}

/* button input password */
.button-icon {
  border:none;
  background-color: #ffff;
  top: -5px;
  height: 5px;
}
.button-icon:hover {
  background-color: #ffff;
}

/* checkbox remember password */
mat-card-actions, .remember-password {
  display: flex;
  justify-content: left;
  padding: none;
  margin-left: 5px;
  margin-top: -30px;
}

::ng-deep .mat-checkbox-checkmark {
  display: none;
}

mat-checkbox ::ng-deep .mat-checkbox-inner-container {
  width: 20px;
  height: 20px;
  border: none;
}

::ng-deep .mat-checkbox-layout, .mat-checkbox-label{
  color: #A8A8A8;
}

/* buttons */

mat-card-actions, .buttons {
  display: flex;
  justify-content: center;
}

.button-create-account, .button-submit{
  cursor: pointer;
  width: 180px;
  height: 40px;
  margin-top:39px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  border: none;
  border-radius: 8px;
}

.button-create-account {
  background-color: #ffff;
  color: #49B4BB;
  margin-right: 40px;
}

.button-create-account:hover {
  background-color: #D9F1F3;
}

.button-submit {
  background-color: #49B4BB;
  color: #ffff;
}

button:hover {
  background-color: #90D3D7;
  color: #ffff;
}

button:disabled {
  background-color: #D9F1F3;
}