:host {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

mat-card {
    width: 100%;
    max-width: 621px;
    height: 680px;
    padding: 8px;
        /* typography */
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
}


/* topo-mat-card */

.topo-mat-card {
    height: 30px;
    padding-top: 10px;
    margin-bottom: 5px;
}

.button-create-consulta {
    cursor: pointer;
    display: inline-block;
    width: 138px;
    height: 24px;
    margin-left: 347px;
    border: none;
    border-radius: 4px;
    background-color: #49B4BB;
    color: #ffff;
}

.img-croos-white {
    margin-right: 10px;
}

.label-table {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}
