<mat-card>

    <div class="topo-mat-card">

        <label for="consultas" class="label-table">

            Consulta Clínica

        </label>

        <button class="button-create-consulta" type="button" (click)="addConsulta()">
            <img class="img-croos-white" src="/assets/icon-cross-white.png" alt="cruz-branca">
            Nova Consulta
        </button>
    </div>

    <mat-card-content>

        <table mat-table [dataSource]="consultas" class="consultas-table" [ngClass]="'customWidthClass'">

            <ng-container matColumnDef="especialidade">
              <th mat-header-cell *matHeaderCellDef> ESPECIALIDADE </th>
              <td mat-cell *matCellDef="let element"> {{element.medico.especialidade.nome}} </td>
            </ng-container>

            <ng-container matColumnDef="profissional">
              <th mat-header-cell *matHeaderCellDef> PROFISSIONAL </th>
              <td mat-cell *matCellDef="let element"> {{element.medico.nome}} </td>
            </ng-container>

            <ng-container matColumnDef="data">
              <th mat-header-cell *matHeaderCellDef> DATA </th>
              <td mat-cell *matCellDef="let element"> {{element.dia | date}} </td>
            </ng-container>

            <ng-container matColumnDef="hora">
              <th mat-header-cell *matHeaderCellDef> HORA </th>
              <td mat-cell *matCellDef="let element"> {{element.horario}} </td>
            </ng-container>

            <ng-container matColumnDef="delete-consulta">
              <th mat-header-cell *matHeaderCellDef>  </th>
              <td mat-cell *matCellDef="let element">
                <button class="button-delete-consulta" type="button" (click)="deleteConsulta(element.id)">
                  <img class="img-croos-white" src="/assets/icon-delete.png" alt="x-verde">
                  Desmarcar
                </button>
              </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          
    </mat-card-content>

</mat-card>