:host {
    display: flex;
    justify-content: center;
    margin: 60px;
}

.topo-mat-card {
    display: flex;
    margin-bottom: 5px;
}

.button-create-consulta {
    margin-left: 370px;
}

.button-create-consulta {
    /*Topography*/
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
    /*style*/
    width: 138px;
    height: 24px;
    left: 850px;
    top: 76px;
    border: none;
    border-radius: 4px;
    background-color: #49B4BB;
    color: #ffff;
}
