<mat-card>

    <div class="topo-mat-card">

        <label for="consultas" class="label-table">

            Consulta Clínica

        </label>

        <button class="button-create-consulta" type="button" (click)="addConsulta()">
            <img class="img-croos-white" src="/assets/icon-cross-white.png" alt="cruz-branca">
            Nova Consulta
        </button>
    </div>

    <mat-card-content>


        <table id="consultas">

            <div class="conteiner-th-table">
                <tr>
                    <th>ESPECIALIDADE</th>
                    <th>PROFISSIONAL</th>
                    <th>DATA</th>
                    <th>HORA</th>
                </tr>
            </div>

            <div class="conteiner-consultas" *ngFor="let consulta of consultas">
                <tr>

                    <td>ffffffffff</td>

                    <td>fffffffffff</td>

                    <td>ffffffffffff</td>

                    <td>ffffffffffff</td>

                    <td>
                        <img src="#" alt="icone">
                        <button>Remover</button>
                    </td>
                </tr>
            </div>
            <div >
                <tr>

                    <td>ffffffffff</td>

                    <td>fffffffffff</td>

                    <td>ffffffffffff</td>

                    <td>ffffffffffff</td>

                    <td>
                        <img src="#" alt="icone">
                        <button>Remover</button>
                    </td>
                </tr>
            </div>
                      
            <div >
                <tr>

                    <td>ffffffffff</td>

                    <td>fffffffffff</td>

                    <td>ffffffffffff</td>

                    <td>ffffffffffff</td>

                    <td>
                        <img src="#" alt="icone">
                        <button>Remover</button>
                    </td>
                </tr>
            </div>
                      
                      
                       
        </table>

    </mat-card-content>

</mat-card>